<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="cotainer_account_confirmation">
        <div class="container_center_account_confirmation">
            <div class="white_container">
                <h1>Check your E-Mail box</h1>
                <p id="purple">Please, confirm your E-mail address to reset your password.</p>
                <p>If you have not received any emails, please try again in a few moments.</p>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>