
<div class="friends-bar">
    <div class="friends-bar_user">
        <img src="<%= userImage ? '/chat_img/' + userImage : '/src/User_Default.png' %>" alt="">
        <p>Lucas Schmidt</p>
    </div>
    <hr>
    <div class="friends-bar_options_container">
        <input type="text" placeholder="Search">
        <img src="/src/AddFriend.png" alt="">
    </div>


</div>