<nav class="nav_bar">
    <diV class="nav_bar_left">
        <span>Chat App</span>
    </diV>
    <div class="nav_bar_right">
        <img src="/src/User_Default.png" alt="">
        <label>Lucas</label>
        <img src="/src/about.png">
        <img src="/src/config.png">
    </div>
</nav>