<nav class="nav_bar">
    <diV class="nav_bar_left">
        <span><a href="/">Aria Frost</a></span>
    </diV>
    <div class="nav_bar_right">
        <a href="/editUserProfile"><img src="<%= userImage ? '/chat_img/' + userImage : '/src/User_Default.png' %>" alt=""></a>
        <label><%= userName %></label>
        <a id="about_btn" href="/about"><img src="/src/about.png"></a>
        <a href="/logout"><img src="/src/logout.png"></a>
    </div>
</nav>