<nav class="nav_bar">
    <diV class="nav_bar_left">
        <span><a href="/">Chat App</a></span>
    </diV>
    <div class="nav_bar_right">
        <img src="/src/User_Default.png" alt="">
        <label><%= userName %></label>
        <img src="/src/about.png">
        <a href="/logout"><img src="/src/logout.png"></a>
    </div>
</nav>