<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="container_404">
        <div class="container_center_404">
            <div class="left_side_404">
                <h1>404</h1>
                <p>Sorry, We cannot find the requested page.</p>
                <h3>You are lost!</h3>
                <a href="/">Go to home</a>
            </div>
            <div class="right_side_404">
                <img src="/src/zoro.png">
            </div>
        </div>
    </div>

<%- include('includes/end.ejs') %>