<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <div class="full_screen_container">
        <p>teste</p>
    </div>

<%- include('includes/end.ejs') %>