.home_container {
    width: 100%;
    height: calc(100% - 60px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat_line {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.home_item {
    width: 150px;
    height: 150px;
    background-color: #DEDEDE;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
}

.home_item p {
    margin-top: 185px;
    position: absolute;
}

.home_item:hover {
    transform: scale(1.02);
}

.newChatButton {
    width: 135px;
    height: 135px;
    border-radius: 15px;
    object-fit: cover;
}