.chats_container {
    width: 100%;
    height: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
    box-sizing: border-box;
    overflow: auto;
    align-content: start;
}

.button_container {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_area {
    background-color: #DEDEDE;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.button_container p {
    width: 180px;
    margin-top: 5px;
    text-align: center;
}

.button_container:hover {
    transform: scale(1.02);
}

.newChatButton {
    width: 135px;
    height: 135px;
    border-radius: 15px;
    object-fit: cover;
}